{% extends "managerbase.html" %}
{% block content %}
<body class="img js-fullheight" style="background-image: url(/static/gym.jpeg);">

<div class="container my-5">
<h2 style="text-align:center; color: aliceblue;"> Class Bookings</h2>
<div class="container" style="
background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
background: rgba(244, 237, 237, 0.803);">
<table class="table table-striped">
    <tr> <!--getting column headers-->
        <th>Member ID</th>
        <th>First Name</th>
        <th>Class Type</th>
        <th>Class Time</th>
        <th>Booking ID</th>
        
    </tr>
   
    {% for currentgroupbooking in currentgroupbooking %} 
    <tr>
        <td>{{currentgroupbooking[2]}}</td>
        <td>{{currentgroupbooking[6]}}</td>
        <td>{{currentgroupbooking[7]}}</td>
        <td>{{currentgroupbooking[4]}}</td>
        <td>{{currentgroupbooking[0]}}</td>
   
    </tr>
    {% endfor %}
</table>
</div>
</div>
</body>
{% endblock %}