<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--googlefonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Display:ital@1&family=Permanent+Marker&display=swap" rel="stylesheet">
    <!--stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Lincoln Gym</title>
  </head>
  <body>
    <nav class="navbar navbar-expand md bg-dark">
      <div class="container-fluid px-5">
        <a class="navbar-brand" href="#"><h2> LINCOLN <span> FITNESS </span> </h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/features">Classes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('price') }}">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
          </ul>
          <form class="d-flex">
          </form>
        </div>
      </div>
    </nav>
    <!--main section-->
    <section class="main py-5">
      {% block content %}   {% endblock %}
      <div class="container text-grey py-5">
        <div class="row py-3">
          <div class="col-lg-10">
            <h5 class="m-0">Fitness Club</h5>
            <h1 class="m-0">MAKE THE BODY <br>
            <span> YOU DREAM </span> <br>
             ABOUT</h1>

             <button class="btn btn-shadow-drop btn-shadow-drop--blue" > <a href="{{ url_for('register') }}" style="text-decoration: none; color: rgb(0, 0, 0);"> JOIN US </a></button>
            </div>
        </div>
      </div>
      
    </section>
    <!--footer-->
      <section class="footer">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-lg-4">
              <h4>LINCOLN FITNESS</h4>
              <p class="py-4">
                Supporting Selwyn community since 1979. Whare Hākinakina is the biggest gym in Selwyn, with brand new
                facilities and equipment available. We offer a range of different membership options with no contracts and
                no joining fee.
    
                Moving more people, more often.
              </p>
    
              <span class="social"><i class='fab fa-facebook'></i></span>
              <span class="social"><i class='fab fa-facebook-messenger px-2'></i></span>
              <span class="social"><i class='fab fa-github'></i></span>
              <span class="social"><i class='fab fa-instagram px-2'></i></span>
    
    
            </div>
            <div class="col-lg-3 Offset col-md-3 col-sm-4 col-11 mb-2">
              <h5 class="pb-4">QUICK LINKS</h5>
              <p class="link"> <span> <i class="fas fa-angle-double-right"></i></span>About us</p>
              <p class="link"> <span> <i class="fas fa-angle-double-right"></i></span>Services</p>
              <p class="link"> <span> <i class="fas fa-angle-double-right"></i></span>Membership</p>
              <p class="link"> <a href="/contactus" style="text-decoration: none; color: rgb(36, 134, 136);"><span> <i class="fas fa-angle-double-right"></i></span>Contact</a></p>
    
            </div>
            <div class="col-lg-4">
              <h5 class="pb-4">Location</h5>
              <p>Calder Dr, Lincoln University 7674, New Zealand</p>
              <p class="link pt-3">+643-423-0550</p>
              <p class="link">recsuper@lincoln.ac.nz</p>
            </div>
          </div>
        </div>
      </section>
    
      
    
  </body>
  
</html>