{% extends "managerbase.html" %}

{% block content %}
<body class="img js-fullheight" style="background-image: url(/static/gym.jpeg);">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 style="margin: auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic; color: #00008b;">Welcome to the Lincoln Fitness Management System</h1>
        <p style="margin: auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic; color: #00008b;">
          Please click on the navigation on the top to manage members, trainers, and classes.</p>
      </div>
    </div>
  </div>
</body>
{% endblock %}
