<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--googlefonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Display:ital@1&family=Permanent+Marker&display=swap" rel="stylesheet">
    <!--stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Lincoln Fitness</title>

    <nav class="navbar navbar-expand md bg-dark">
      <div class="container-fluid px-5">
        <a class="navbar-brand" href="#"><h2> LINCOLN <span> FITNESS </span> </h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-3 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('profile') }} "style="margin: auto; font-size: medium; color: aliceblue;">My Profile</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('membersession') }}" style="margin: auto; font-size: medium; color: aliceblue;">Special Class</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('groupsession1') }}" style="margin: auto; font-size: medium; color: aliceblue;">Group Class</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}" style="margin: auto; font-size: medium; color: aliceblue;">
                  Log out
                </a>
                </li>

           
          </ul>
          <form class="d-flex">
          </form>
        </div>
      </div>
    </nav>

  </body>

  {% block content %}   {% endblock %}
  
  </html>


      



