{% extends "managerbase.html" %}
{% block content %}
<body class="img js-fullheight" style="background-image: url(/static/gym.jpeg);">
<div class="container">
    <h2 style=" text-align: center; color: rgb(255, 255, 255);">List of Trainers</h2>
<!--table formatted to striped rows-->
<table class="table table-striped table-hover table-bordered"  style=" 
background: rgb(222, 222, 222); /* Fallback for older browsers without RGBA-support */
background: rgba(255, 255, 255, 0.815);">

    <thead class="table-success">
    <!--getting required column headers for rows-->
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Speciality</th>

    </tr>
    </thead>
    {% for member in members %} <!--for loop for getting data from table-->
    <tr>
        <!--required columns to display the table content-->
        <td>{{member[1]}}</td>
        <td>{{member[2]}}</td>
        <td>{{member[3]}}</td>
        <td>{{member[4]}}</td>
        <td>{{member[5]}}</td>
        

    </tr>
{% endfor %}
</table>
</div>
</body>
{% endblock %}